body{
	font-size: 18;
	border: 15px solid white;
	border-style:double;
}
h1{
	color: white;
	text-align: justify;
	font-family: fantasy;
}
p{

}
h2{
	color:black;
	text-indent:20px;

}
body{
	padding: 20px;
	margin: 20px;
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/bb/f6/31/bbf63167e9d447b4203a597055bae4f6.jpg");
}
footer{
	border-style: hidden;
	margin-top: 40px;
	padding-top: 8px;
	font-size: 12;
	font-style: italic;
}
button{
	font-size: 15;
	background-color: white;
	font-family: monospace;
	height:110px;
	width: 110px;
	border-radius:50%;
	border:2px solid black;
	text-align: center;
}
h3.welcome{
	opacity: 0;
	color: blue;
}
div#left{
	float:left;
	width: 50%;
}
h4{
	color: white;
	font-size: 90;
	text-align: center;
	background-color: #f9f;
	text-shadow:5px 5px black;
	font-family: fantasy;
	height: auto;
}
span.pic{
	float:left;
	display: 50%;
}
