body{
	background-image: url("http://cdn.pcwallart.com/images/dark-gradient-tumblr-wallpaper-1.jpg");
	background-repeat: no-repeat;
	font-size: 18;
	border: 15px solid white;
	border-style:double;
	padding: 20px;
	margin: 20px;
}
h1{
	color: black;
}
p{

}
h2{
	color:darkgrey;

}
li{
	border-radius: 5px;
	color: #f9f;

}
